<%- include('../partials/header') %>
<h2><%=title%></h2>
  	
  	<img src="https://cdn.vox-cdn.com/thumbor/BhpmkTLnnAQgTps1jYb_agMBclc=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19187599/Image_from_iOS__48_.jpg" alt="Photo of Tiger Fresh Milk" width="300" height="300">
   --<cite title="TigerSugar">Image Source: tigersugarshop</cite>
  	<p>This picture shows a famous drink: Tiger Fresh Milk</p>
  	<h3 class="mt-4">Popular Boba Chains</h3>
  	<p>Click below to view popular boba shops</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.yifangteapnw.com/">Yi Fang</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://happylemonseattle.com/">Happy Lemon</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://en.tp-tea.com/menu/">Taiwanese Professional Tea</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://en.dontyellatme.com/">Don't Yell at Me</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Micah's Favorite Boba</h2>
  	<h5>Micah loves Bubble Tea, he loves all kinds.</h5>
  	<img src="https://images.squarespace-cdn.com/content/v1/5aae10155ffd2005d9bbb09d/1607732258495-35PJZKVINJ5ZO6YET6XZ/Milk+Tea+Grey+%281%29.jpg" alt="happy lemon drinks"  width="600" height="300">
     --<cite title="happylemonseattle.com">Image Source: happylemonseattle.com</cite>
  	
  	<p>The most popular form of bubble tea is Milk Tea. Milk Tea is compromised of brewing black tea, milk, and sugar! Some popular types are Milk Teas, Fruit Teas, Lemon Teas, Fresh Milk Teas, and Smoothies! My favorite would be Osmanthus Jasmine Green Milk Tea from a popular boba shop, "Don't Yell at Me."</p>


<%- include('../partials/footer') %>