<%- include('../partials/header') %>
<h2><%=title%></h2>
 
  	 <p>Cars is another area of interest for Micah</p>
	</div>
	<div class="col-sm-8">
  	<h2>Aventador</h2>

  	<img src="https://media.cnn.com/api/v1/images/stellar/prod/180824081350-lamborghini-aventador-svj.jpg?q=w_3000,h_1688,x_0,y_0,c_fill"  width="600" height="300">
     --<cite title="media.cnn.com">Image Source: media.cnn.com</cite>

  	<p>The Lamborghini Aventador is one of Micah's dream cars to own. One of the reasons why Micah likes the Aventador is it's sleek and furturistic design, almost resembling a spaceship</p>

  	<h2 class="mt-5">Ford Mustang Shelby</h2>

  	<img src="https://blogmedia.dealerfire.com/wp-content/uploads/sites/1027/2019/12/2020-Ford-Mustang-Shelby-colors_o3.png"  width="600" height="300">
     --<cite title="fordakins">Image Source: fordakins.com</cite>

  	<p>The Ford Mustang Shelby is another car that's pretty awesome.</p>
<%- include('../partials/footer') %>
