<%- include('../partials/header') %>
<h2><%=title%></h2>
 
  	 <p>Some foods that Micah likes</p>
	</div>
	<div class="col-sm-8">
  	<h2>Mapo Tofu</h2>

  	<img src="https://www.maangchi.com/wp-content/uploads/2019/09/mapotofu.jpg"  width="600" height="300">
   --<cite title="maangchi.com">Image Source: maangchi.com</cite>
  	<p>Mapo Tofu is a popular chinese dish. Full of spices and flavor that bring tofu to life!</p>

  	<h2 class="mt-5">Hot Pot</h2>

  	<img src="https://img.grouponcdn.com/deal/2ZsZdN4yKhrg6TueozywBKADbghs/2Z-1000x600/v1/c870x524.jpg"  width="600" height="300">
   --<cite title="grouponcdn.com">Image Source: grouponcdn.com</cite>

  	<p>Hot Pot is good to eat at large gatherings. Hot Pot is what brings people together. Hot Pot is very yummy and delicious!</p>
<%- include('../partials/footer') %>
