<%- include('../partials/header') %>
<h2><%=title%></h2>
  	
  	<img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Home Image" width="200" height="200">
    <br>
  	  	--<cite title="flaticon.com">Image Source: flaticon.com</cite>

  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Templating with EJS</h2>
  	<img src="https://miro.medium.com/max/1200/1*5xR5P6dzu4LpyMaR2QMphA.jpeg" alt="templating with ejs image"  width="600" height="200">
  	--<cite title="javascript.plainenglish.io">Image Source: javascript.plainenglish.io</cite>
  	<p>Using EJS, express, and node.js allows you to create websites that function! This allows you to use routes to direct you to different pages. It also allows you to further use server side data, which expands applications. </p>

<%- include('../partials/footer') %>
